<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共head部分-->
    <th:block th:include="~{common::commonHead}"></th:block>
    <title>新增公告</title>
    <style>
        #nav{
            width:100%;
            border:1px solid darkgray;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="shadow p-3 mb-4 bg-body-tertiary rounded" id="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">新增公告</a>
            </li>
        </ul>
    </div>
<!--    表单-->
    <div class="card container-fluid mb-4" id="card">
        <form id="sendForm" class="row g-3 card-body" method="post" th:action="@{/notice/add}">
            <input type="hidden" name="creater" th:value="${session.manager.id}">
            <div class="col-6">
                <label for="title" class="form-label" required>标题</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="20个字符以内" maxlength="20">
            </div>
            <div class="col-12">
                <label for="content" class="form-label" required>内容</label>
                <textarea name="content" id="content" cols="60" rows="3" maxlength="180"></textarea>
            </div>
            <hr>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="add" disabled>新增</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    let b1=false;
    let b2=false;

    $("#title").blur(function (){
        let title = $("#title").val();
        if(title!=null&&title.trim().length>0){
            b1=true;
            $("#title").removeClass("is-invalid").addClass("is-valid")
            check()
        }else{
            b1=false;
            $("#title").removeClass("is-valid").addClass("is-invalid")
            check()
        }
    })

    $("#content").blur(function (){
        let content=$("#content").val();
        if(content!=null&&content.trim().length>0){
            b2=true;
            check()
        }else{
            b2=false;
            check()
        }
    })

    function check(){
        if(b1&&b2){
            $("#add").prop("disabled",false);
        }else{
            $("#add").prop("disabled",true);
        }
    }
</script>
</html>