<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共head部分-->
    <th:block th:include="~{common::commonHead}"></th:block>
    <title>公告详情</title>
    <style>
        body{
            background-color: #F6F6F6;
        }
        #back{
            height:45px;
        }
        a{
            text-decoration: none;
            color:#6B6B6B;
            line-height: 45px;
        }
        a:hover{
            color:#FFC107;
        }
        #con{
            width:80%;
            align-items: center;
            background-color: white;
        }
        #nav{
            width:100%;
            border:1px solid darkgray;
        }
    </style>
</head>
<body>
<div class="shadow p-3 mb-2 bg-body-tertiary rounded" id="nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">公告详情</a>
        </li>
    </ul>
</div>
<!--第二部分 公告-->
<div id="back">
    <a href="javascript:window.history.back()" class="fs-5">>>>返回</a>
</div>
<div class="container-fluid p-3 mb-4" id="con">
    <div class="row">
        <p class="text-center fw-bold fs-3 m-0 p-2">[[${notice.title}]]</p>
    </div>
    <hr class="bg-dark-subtle">
    <div class="row m-2">
        <p class="text-center fs-6 fst-italic m-0 p-0">作者:[[${notice.cusername}]]</p>
    </div>
    <div class="row m-3">
        <p class="text-center fs-5 m-0 p-0">[[${notice.content}]]</p>
    </div>
    <div class="row">
        <p class="text-center fs-6 p-3">发布日期:[[${notice.publishtime}]]&nbsp;&nbsp;&nbsp;
            阅读量:[[${notice.look}]]</p>
    </div>
</div>
</body>
<script>
    $.ajax({
        url:'/ex/noticeMem/look',
        type:'post',
        data:'id=[[${notice.id}]]',
    })
</script>
</html>