<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共head部分-->
    <th:block th:include="~{common::commonHead}"></th:block>
    <title>文档资源管理</title>
</head>
<body class="bg-primary-subtle">
<div class="container-fluid">
    <button class="btn btn-secondary disabled">文档资源管理</button>
    <div class=" py-2 d-flex">
        <form class="d-flex w-50" method="post" th:action="@{/res/doc}">
            <input class="form-control me-2 w-50 border-primary" type="text" placeholder="Search" name="resname" th:value="${resname}">
            <select class="form-select me-2 w-25 border-primary" name="status">
                <option value="0">状态</option>
                <option value="1" id="opt1">正常</option>
                <option value="2" id="opt2">禁用</option>
                <option value="3" id="opt3">审核中</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="p-2">
    <table class="table table-hover table-bordered border-primary table-sm">
        <thead>
        <tr>
            <th scope="col"><div class="form-check form-check-inline">
                <input class="form-check-input border-primary" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">全选</label>
            </div>
            </th>
            <th scope="col">资源名</th>
            <th scope="col">简介</th>
            <th scope="col">缩略图</th>
            <th scope="col">上传时间</th>
            <th scope="col">上传会员ID</th>
            <th scope="col">价值</th>
            <th scope="col">浏览量</th>
            <th scope="col">收藏量</th>
            <th scope="col">下载量</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="res:${page.records}">
            <th scope="row"><div class="form-check form-check-inline">
                <input class="form-check-input border-primary" type="checkbox" th:id="res+${res.id}" th:value="${res.id}">
            </div></th>
            <td>[[${res.resname}]]</td>
            <td>[[${res.display}]]</td>
            <td>
                <img class="img-thumbnail" th:src="@{${application.icon}+${res.thumbnail}}" width="40px">
            </td>
            <td>[[${res.joindate}]]</td>
            <td>[[${res.uploader}]]</td>
            <td>[[${res.isFree}]]金币</td>
            <td>[[${res.pv}]]</td>
            <td>[[${res.fav}]]</td>
            <td>[[${res.down}]]</td>
            <td class="statusTD">[[${res.status==1?'正常':''}]][[${res.status==2?'禁用':''}]][[${res.status==3?'审核中':''}]]</td>
            <td>
                <button th:id="ban+${res.id}" th:name="${res.id}" class="btn btn-outline-danger" th:classappend="${res.status==1?'':'d-none'}">禁用</button>
                <button th:id="recover+${res.id}" th:name="${res.id}" class="btn btn-outline-warning" th:classappend="${res.status==2?'':'d-none'}">恢复</button>
                <button th:id="pass+${res.id}" th:name="${res.id}" class="btn btn-outline-success" th:classappend="${res.status==3?'':'d-none'}">通过</button>
                <a class="btn btn-outline-secondary" th:href="@{/res/comment(type=3,id=${res.id})}">评论</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li th:if="${page.current>1}" class="page-item"><a class="page-link" th:href="@{/res/doc(resname=${resname},status=${status})}">首页</a></li>
        <li th:if="${page.current>1}" class="page-item"><a class="page-link" th:href="@{/res/doc(cur=${page.current}-1,resname=${resname},status=${status})}">上一页</a></li>
        <li th:each="i:${pageList}" class="page-item" th:classappend="${i==page.current?'active':''}"><a class="page-link" th:href="@{/res/doc(cur=${i},resname=${resname},status=${status})}">[[${i}]]</a></li>
        <li th:if="${page.current<page.pages}" class="page-item"><a class="page-link" th:href="@{/res/doc(cur=${page.current}+1,resname=${resname},status=${status})}">下一页</a></li>
        <li th:if="${page.current<page.pages}" class="page-item"><a class="page-link" th:href="@{/res/doc(cur=${page.pages},resname=${resname},status=${status})}">尾页</a></li>
        <li class="page-item"><a class="page-link"><span>[[${page.current}]]</span>/<span>[[${page.pages}]]</span></a></li>
    </ul>
</nav>

<!--toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img th:src="@{/img/favicon.ico}" width="20px" class="rounded me-2" alt="...">
            <strong class="me-auto">文档资源管理</strong>
            <small>刚刚</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">[[${msg}]]</div>
    </div>
</div>
</body>
<script>
    $(function (){
        let status="[[${status}]]"
        if(status=='1'){
            $("#opt1").prop("selected",true)
        }else if(status=='2'){
            $("#opt2").prop("selected",true)
        }else if(status=='3'){
            $("#opt3").prop("selected",true)
        }
    })
    $(function(){
        let text=$(".toast-body").text();
        if(text!=null&&text.length>0){
            let toastLiveExample = document.getElementById('liveToast')
            let toast = new bootstrap.Toast(toastLiveExample)
            toast.show()
        }
    })
    $(document).on("click","button[id^=ban]",function (){
        let id = $(this).prop("name");
        window.location.href="/ex/res/ban?type=3&id="+id;
    })
    $(document).on("click","button[id^=recover]",function (){
        let id = $(this).prop("name");
        window.location.href="/ex/res/recover?type=3&id="+id;
    })
    $(document).on("click","button[id^=pass]",function (){
        let id = $(this).prop("name");
        window.location.href="/ex/res/pass?type=3&id="+id;
    })
    $("#inlineCheckbox1").change(function (){
        let prop=$("#inlineCheckbox1").prop("checked")
        if(prop){
            let $checkbox = $(":checkbox[id^=res]");
            $checkbox.each(function (){
                $(this).prop("checked",true);
            })
        }else{
            let $checkbox = $(":checkbox[id^=res]");
            $checkbox.each(function (){
                $(this).prop("checked",false);
            })
        }
    })
</script>
</html>