<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共head部分-->
    <th:block th:include="~{common::commonHead}"></th:block>
    <title>角色资源信息</title>
    <style>
        #nav {
            width: 100%;
            border: 1px solid darkgray;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="shadow p-3 mb-4 bg-body-tertiary rounded" id="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">[[${rolename}]]
                    - [[${display}]]</a>
            </li>
        </ul>
    </div>
<!--    表单-->
    <div class="card container-fluid mb-4" id="card">
        <form id="sendForm" class="row g-3 card-body" method="post"
              th:action="@{/role/updateRole}">
            <input type="hidden" name="roleid" th:value="${roleid}">
            <div class="col-6">
                <label for="rolename" class="form-label">角色名</label>
                <input type="text" class="form-control" id="rolename" name="rolename" th:value="${rolename}">
            </div>
            <div class="col-6">
                <label for="display" class="form-label">简短描述</label>
                <input type="text" class="form-control" id="display" name="display" th:value="${display}">
            </div>
            <hr>
            <div th:each="action:${actions}" class="col-4">
                <div class="form-check">
                    <input th:if="${action.have=='1'}" class="form-check-input" type="checkbox" checked
                    th:id="action+${action.id}" name="actions" th:value="${action.id}">
                    <input th:if="${action.have!='1'}" class="form-check-input" type="checkbox"
                           th:id="action+${action.id}" name="actions" th:value="${action.id}">
                    <label class="form-check-label" th:for="action+${action.id}">
                        [[${action.actionname}]]
                    </label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary me-2" id="send">提交修改</button>
                    <button type="button" class="btn btn-secondary" id="return">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img th:src="@{/img/favicon.ico}" width="20px" class="rounded me-2" alt="...">
            <strong class="me-auto">角色信息修改</strong>
            <small>刚刚</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">[[${msg}]]</div>
    </div>
</div>
</body>
<script>
    $("#return").click(function () {
        window.history.back();
    })

    let oldName = $("#rolename").val()
    let oldDisplay = $("#display").val()
    let oldHave = [];
    $(":checkbox[id^='action'][name^='action']:checked").each(function () {
        oldHave.push(this.value)
    })

    $("#send").click(function () {
        let b1 = $("#rolename").val() == oldName
        let b2 = $("#display").val() == oldDisplay
        let newHave = [];
        $(":checkbox[id^='action'][name^='action']:checked").each(function () {
            newHave.push(this.value)
        })
        let b3 = newHave.join("=") == oldHave.join("=")
        if (!(b1 && b2 && b3)) {
            $("#sendForm").submit()
        }
    })

    $(function () {
        let msg = $(".toast-body").text()
        if (msg != null && msg.length > 0) {
            let toastLiveExample = document.getElementById("liveToast");
            let toast = new bootstrap.Toast(toastLiveExample);
            toast.show()
        }
    })

</script>
</html>