<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>页面公共部分</title>
</head>
<body>
<!--公共head标签内容-->
<div th:fragment="commonHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/img/favicon.ico}" rel="icon" sizes="any" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</div>

<!--会员界面 导航栏-->
<nav class="navbar sticky-top navbar-expand-lg bg-warning" th:fragment="memberNav">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index.html}">
            <img th:src="@{/img/logo.png}"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index.html#soft}" th:text="#{UtilitySoftware}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index.html#doc}" th:text="#{HotMaterial}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/index.html#wall}" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{Wallpaper}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/resDetail/search(type=1,search='风景')}" th:text="#{scenery}"></a></li>
                        <li><a class="dropdown-item" th:href="@{/resDetail/search(type=1,search='美女')}" th:text="#{beauty}"></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/resDetail/search(type=1,search='设计')}" th:text="#{design}"></a></li>
                        <li><a class="dropdown-item" th:href="@{/resDetail/search(type=1,search='军事')}" th:text="#{military}"></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <form>
                        <select class="form-select">
                            <option id="zh">中文</option>
                            <option id="en">English</option>
                            <option id="ko">한글</option>
                            <option id="fr">En français</option>
                        </select>
                    </form>
                </li>
            </ul>
            <form class="d-flex me-auto" role="search" method="post" th:action="@{/resDetail/search}">
                <input class="form-control me-2" size="25" type="search" placeholder="Search" aria-label="Search" name="search" id="search" th:value="${search}">
                <button class="btn btn-success" type="submit" id="searchBtn" th:text="#{Search}"></button>
            </form>
            <!-- 登录/个人中心 2选1 -->
            <a th:if="${session.member==null}" th:href="@{/login.html}" class="btn btn-success" th:text="#{Login}"></a>

            <div class="btn-group" th:if="${session.member!=null}">
                <img style="cursor: pointer;" th:src="@{${application.head}+'/'+${session.member.head}}"
                     class="dropdown-toggle rounded" data-bs-toggle="dropdown" aria-expanded="false" width="40px"/>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button" disabled>会员-[[${session.member.nick}]]</button></li>
                    <li th:if="${session.member.signflag==0}"><a class="dropdown-item" type="button" th:href="@{/member/sign}">签到</a></li>
                    <li th:if="${session.member.signflag==1}"><a class="dropdown-item disabled" type="button">已签到</a></li>
                    <li><a class="dropdown-item disabled" type="button">金币:[[${session.member.gold}]]</a></li>
                    <li><button class="dropdown-item" type="button" id="personalInfoBtn">个人资料</button></li>
                    <li><button class="dropdown-item" type="button" id="share" data-bs-toggle="modal" data-bs-target="#shareModal">分享上传</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" type="button" th:href="@{/login}" id="logoutBtn">安全退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    <!-- 国际化jquery -->
        $(function (){
            let locale="[[${session.locale}]]"
            console.log(locale)
            if(locale.length>0){
                if(locale=="zh_CN"){
                    $("#zh").prop("selected",true)
                }else if(locale=="en_US"){
                    $("#en").prop("selected",true)
                }else if(locale=="ko_KR"){
                    $("#ko").prop("selected",true)
                }else if(locale=="fr_FR"){
                    $("#fr").prop("selected",true)
                }
            }
        })
        $("#zh").click(function (){
            window.location.href="/ex/index.html?lan=zh_CN"
            $.ajax({
                url:'/ex/setlocale',
                type:'post',
                data:'lan=zh_CN'
            })
        })
        $("#en").click(function (){
            window.location.href="/ex/index.html?lan=en_US"
            $.ajax({
                url:'/ex/setlocale',
                type:'post',
                data:'lan=en_US'
            })
        })
        $("#ko").click(function (){
            window.location.href="/ex/index.html?lan=ko_KR"
            $.ajax({
                url:'/ex/setlocale',
                type:'post',
                data:'lan=ko_KR'
            })
        })
        $("#fr").click(function (){
            window.location.href="/ex/index.html?lan=fr_FR"
            $.ajax({
                url:'/ex/setlocale',
                type:'post',
                data:'lan=fr_FR'
            })
        })
    </script>
</nav>

<!--会员界面 底部-->
<div class="container-fluid bg-dark-subtle myfoot" th:fragment="memberFoot">
    <div class="container py-2 fs-9 text-muted">
        Copyright &copy; 2017-2023 J10的网站 &trade;
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            隐私权声明
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            版权声明
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            素材使用协议
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            联系我们
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            公告
        </a>
        <a th:href="@{/}" class="d-block float-end fs-9 text-muted text-decoration-none">豫ICP备12009440号</a>
    </div>
    <hr class="border border-light my-1"/>
    <div class="container  py-2 fs-9">
    <span class="text-muted fs-9"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
  <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
  <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
</svg> 友情链接</span>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            隐私权声明
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            版权声明
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            素材使用协议
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            联系我们
        </a>
        <a th:href="@{/}" class="fs-9 text-muted text-decoration-none ms-2">
            公告
        </a>
    </div>
</div>

<!--管理员 导航栏-->
<div class="container-fluid bg-dark d-flex justify-content-between" th:fragment="managerNav">
    <a class="d-block p-2" th:href="@{/admin/main.html}">
        <img th:src="@{/img/logo.png}" width="160px"/>
    </a>
    <div>
        <div class="btn-group">
            <div class="dropdown-toggle rounded text-light p-2" data-bs-toggle="dropdown" aria-expanded="false" >
                <img style="cursor: pointer;" th:src="@{/img/head5.jpeg}"
                     width="50px"/>
                <span>[[${session.manager.rolename}]] - [[${session.manager.display}]]</span>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button">签到</button></li>
                <li><button class="dropdown-item" type="button">个人资料</button></li>
                <li><button class="dropdown-item" type="button">上传资料</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" type="button" th:href="@{/login2}" id="logout">安全退出</a></li>
            </ul>
        </div>
    </div>
</div >
</body>
</html>