<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共head部分-->
    <th:block th:include="~{common::commonHead}"></th:block>
    <title>个人资料</title>
    <style>
        .fs-9{font-size: 0.9em;}
        #card{
            width:800px;
            margin:auto;
            margin-top:37px;
        }
    </style>
</head>
<body>
<!-- 第一部分 导航栏 -->
<div th:replace="~{common::memberNav}"></div>

<!--个人信息 展示-->
<div class="card container-fluid mb-4" id="card">
    <form class="row g-3 card-body" method="post" th:action="@{/member/modify}" enctype="multipart/form-data">
        <div class="col-6">
            <label for="username" class="form-label">用户名</label>
            <input type="text" class="form-control" id="username" th:value="${session.member.username}" readonly>
        </div>
        <div class="col-6">
            <label for="joindate" class="form-label">注册日期</label>
            <input type="text" class="form-control" id="joindate" th:value="${session.member.joindate}" readonly>
        </div>
        <div class="col-3">
            <label for="level" class="form-label">会员级别</label>
            <input type="text" class="form-control" id="level" th:value="${session.member.level}" readonly>
        </div>
        <div class="col-3">
            <label for="gold" class="form-label">金币数量</label>
            <input type="text" class="form-control" id="gold" th:value="${session.member.gold}" readonly>
        </div>
        <div class="col-3">
            <label for="concount" class="form-label">连续签到次数</label>
            <input type="text" class="form-control" id="concount" th:value="${session.member.concount}" readonly>
        </div>
        <div class="col-3">
            <label for="sign" class="form-label">今日签到</label>
            <input type="text" class="form-control" id="sign" th:value="${session.member.signflag==1?'已签到':'未签到'}" readonly>
        </div>
        <hr style="color: #a7acb1;">
        <div class="col-3">
            <label for="nick" class="form-label">修改昵称</label>
            <input type="text" class="form-control" id="nick" name="nick" th:value="${session.member.nick}">
        </div>
        <div class="col-7">
            <label for="head" class="form-label">修改头像</label>
            <input type="file" class="form-control" id="head" name="headFile">
        </div>
        <div class="col-2">
            <label for="img" class="form-label">显示</label>
            <div><img th:src="@{${application.head}+'/'+${session.member.head}}" class="img-thumbnail" id="img" width="60px"></div>
        </div>
        <div class="col-6">
            <label for="password" class="form-label">修改密码</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="col-6">
            <label for="repassword" class="form-label">重复密码</label>
            <input type="password" class="form-control" id="repassword" name="repassword">
        </div>
        <div class="col-6">
            <a class="btn btn-warning" id="fav" th:href="@{/resDetail/myFav}">我的收藏</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary" id="modifyBtn" disabled>提交修改</button>
        </div>
    </form>
</div>

<!-- 最下面的底部-->
<div th:replace="~{common::memberFoot}"></div>

<!--toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img th:src="@{/img/favicon.ico}" width="20px" class="rounded me-2" alt="...">
            <strong class="me-auto">个人信息</strong>
            <small>刚刚</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">[[${t==1?'修改成功':''}]][[${t==2?'没有更改项':''}]]</div>
    </div>
</div>
<script>
    $("#personalInfoBtn").click(function (){
        window.location.href="/ex/member/updateSession";
    })
    $(function (){
        let t = $(".toast-body").text();
        if(t!=null&&t.length>0){
            let liveToastTemplate=document.getElementById("liveToast")
            new bootstrap.Toast(liveToastTemplate).show()
        }
    })

    $("#searchBtn").click(function (e){
        let val = $("#search").val();
        if(val==null||val.trim().length==0){
            e.preventDefault();
        }
    })

    $(".w-2x").hover(function(){
        $(this).addClass("shadow");
    },function(){
        $(this).removeClass("shadow");
    })

    $(".myfoot a").hover(function(){
        $(this).removeClass("text-muted").addClass("text-warning");
    },function(){
        $(this).removeClass("text-warning").addClass("text-muted");;
    })

    $("#logoutBtn").click(function (e){
        let b = confirm("确定要退出吗?");
        if(!b){
            e.preventDefault();
        }
    })

    let b1=false;
    let b2=false;
    let b3=false;
    let b4=false;

    $("#head").change(function (){
        let val=this.files[0];
        let url = URL.createObjectURL(val);
        $("#img").prop("src",url)
        b4=true;
        modifyBtn()
    })

    function modifyBtn(){
        if(b1||b4||(b2&&b3)){
            $("#modifyBtn").attr("disabled",false);
        }else{
            $("#modifyBtn").attr("disabled",true);
        }
    }

    $("#nick").blur(function (){
        let sessionN="${sessionScope.member.nick}";
        console.log(sessionN)
        let nick=$("#nick").val()
        let regExp = /[a-z]+|[\u4e00-\u9fa5]+/i;
        if(sessionN!=nick){
            if(regExp.test(nick)){
                $("#nick").removeClass("is-invalid").addClass("is-valid")
                b1=true;
            }else{
                $("#nick").removeClass("is-valid").addClass("is-invalid");
                b1=false;
            }
        }
        modifyBtn()
    })
    $("#password").blur(function (){
        let regExp = /^[0-9a-z]{3,6}$/i;
        let password=$("#password").val()
        if(!regExp.test(password)){
            $("#password").removeClass("is-valid").addClass("is-invalid")
            b2=false;
        }else{
            $("#password").removeClass("is-invalid").addClass("is-valid");
            b2=true;
        }
        modifyBtn()
    })
    $("#repassword").blur(function (){
        let password=$("#password").val()
        let repassword=$("#repassword").val()
        let regExp = /^[0-9a-z]{3,6}$/i;
        // 用==比较  不能用equals
        if(regExp.test(repassword)&&repassword==password){
            $("#repassword").removeClass("is-invalid").addClass("is-valid")
            b3=true;
        }else{
            $("#repassword").removeClass("is-valid").addClass("is-invalid");
            b3=false;
        }
        modifyBtn()
    })

</script>
</body>
</html>